<div class="container" ng-init="initUser()">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>User-Task </h1>
		<!--	<clock format="12"></clock>-->
		</div>

		<!-- TODO LIST -->
	<!--	<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">



				<!- LOOP OVER THE TODOS IN $scope.todos -->
				<!--<div class="checkbox" ng-repeat="todo in todos">
					<label>
						<input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text+" tasktime: "+todo.time }}
					</label>
				</div>


				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>  -->
		<div id="user-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">




			<!--	<div class="checkbox" ng-repeat="user in users" ng-if="{{users.length>0}}">-->
<div class="checkbox" >
					<label>
						<input type="checkbox" ng-click="openUser(userData._id)"> {{ userData.firstname+" taskname: "+userData.taskname+" Remaining Time: "+ userData.remaintime }} <p>{{ clock  | date:'medium'}}</p>
					</label>
					<img src="{{userData.path}}" alt="displaypic" height="100" width="100">

				</div>
                  <button type="submit" class="btn btn-primary btn-lg" ng-click="open()">Open</button>
                  <button type="submit" class="btn btn-primary btn-lg" ng-click="showComment=!showComment">Show Comment</button>
				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>


		</div>

		
		<div id="user-list" class="row" ng-show="showComment">
			<div class="col-sm-4 col-sm-offset-4">




				<div class="checkbox" ng-repeat="comm in comments">
					<label>
						<!--<input type="checkbox" ng-click="deleteUser(user._id)"> -->{{ comm.comment}}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">
                          <button type="submit" class="btn btn-primary btn-lg" style="float:right;" ng-click="addComment()">Add Comment</button>
						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" style="width:75% !important" placeholder="Please enter the comment here" ng-model="formExtra.comment">
					</div>

					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					
					<!--<button type="submit" class="btn btn-primary btn-lg" ng-click="registerUser=!registerUser">Register</button><a href="/register"></a>
						<button type="submit" class="btn btn-primary btn-lg" ng-click="loginUser=!loginUser">Login</button><a href="/login"></a> -->
				</form>
			</div>
		</div>